body {
  background-color: #ebecf0;
  overflow-x: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  /* background-color: #6d3c9d; */
  background-color: #d4b7ec;
  margin: auto 0px;
  padding: 16px 32px;
  border: 0.5px solid rgba(195, 0, 255, 0.233);
  border-radius: 100px;
  border-bottom-right-radius: 0px;
  /* box-shadow: 4px 4px 10px 2px rgba(140, 0, 255, 0.342); */
  box-shadow: inset 4px 4px 10px rgb(214, 165, 243),
    inset -5px -5px 10px rgb(241, 217, 255);

  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
  text-align: left;
  transition: box-shadow 1s;
}

header:hover {
  /* box-shadow: -2px -2px 5px rgb(0, 0, 0), 2px 2px 5px #babecc; */
  box-shadow: 0px 0px 0px #fff8f0;
}

header h1 {
  /* color: #ffe0bf; */
  color: #f7dabd;
  -webkit-text-stroke: 1px black;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.header-pen-img {
  position: relative;
  width: 40px;
  top: 10px;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 100px;
  position: relative;
  left: -10px;
  text-align: center;
}

input,
textarea {
  text-align: center;
  margin: 5px auto;
  padding: 50px;
  width: 400px;
  height: 30px;
  font-size: 16px;
  border-radius: 300px;
  border: 1px solid rgb(240, 236, 236);
  /* border-bottom: 2px solid white;
  border-right: 2px solid white; */
  padding: 16px;
  background-color: rgba(222, 224, 224, 0.192);
  /* box-shadow: 3px 3px 3px 3px rgba(226, 226, 226, 0.719); */
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  text-shadow: 1px 1px 0 #fff;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 150px;
  width: 400px;
  text-align: center;
}

.add-btn {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  border: 1px solid rgb(223, 223, 223);
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #c0c0c0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.add-btn:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.add-btn:focus {
  outline: none;
}

.intro {
  position: relative;
  left: 30px;
  top: 25px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #646464;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.keep {
  color: #6d3c9d;
}

.note-img {
  position: relative;
  right: 10px;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  input,
  textarea {
    width: 250px;
  }
}

.container {
  text-align: center;
  align-content: center;
  margin-top: 50px;
}

.follow-me-btn {
  width: 150px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-top: 0.4px solid rgba(117, 117, 117, 0.726);
  border-left: 0.4px solid rgba(117, 117, 117, 0.726);
  border-bottom: 2px solid rgb(194, 194, 194);
  border-right: 2px solid rgb(194, 194, 194);
  box-shadow: 3px 3px 5px rgb(131, 131, 131);
  letter-spacing: normal;
  opacity: 1;
  transition: letter-spacing 1s, opacity 2s;
  overflow: hidden;
}

.fa-footer {
  color: black;
  margin: 10px;
  opacity: 0;
  height: 50px;
  transition: opacity 1s, height 1s;
}

.linkedin {
  height: 40px;
  padding-bottom: 6px;
}
